{% extends 'courses/base.html' %}
{% load course_custom_tags %}
{% block title %}Mycourses | Courses{% endblock %}
{% block main %}

<div class="container">
    <p style="font-size: 30px;text-align:center"> My Courses</p>
    <hr>
    

    <div class="row">
        {% for uc in user_courses %}
         <div class="col mx-auto">
            <div class="card mx-auto" style="width: 18rem;">
                <img src="{{uc.course.thumbnail.url}}" class="img-responsivecard-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{uc.course.name}}</h5>
                  
                
                
                </div>
                
                <div class="card-footer p-0">
                
                  
                  <div class="row no-gutters">
                   
                    <a href="/course/{{uc.course.slug}}" class="btn btn-light btn-block">Start Course </a>
    
                  
                  </div>
                  
                </div>
              </div> 
         </div>  
              
        
        
        {% endfor %} 
    
        
    </div>
    
</div>

{% endblock %}